/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    /* font-size: 18px; */
    /* 1rem = 18px */
    /* không khai báo fs */
    /* 1rem = 16px */
    font-size: 16px;
    scroll-behavior: smooth;
}
body {
    font-family: "Montserrat", sans-serif;
    color: #212529;
    background-color: white;
    letter-spacing: 1px;
}

button {
    background-color: #ff0e83;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    padding: 13px 32px;
    font-size: 0.875rem;
    cursor: pointer;
    letter-spacing: 1px;
    transition: all 0.5s;
}
button:hover {
    background-color: white;
    color: black;
    border-color: #ff0e83;
}

h2{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3rem;
    text-align: center;
    letter-spacing: 2px;
}

/* HEADER */
a {
    text-decoration: none;
    color: #000;
  }
  .site-header {
    border-bottom: 1px solid #ccc;
    padding: .5em 1em;
  }

  .site-header::after {
    content: "";
    display: table;
    clear: both;
  }

  .site-identity {
    float: left;
  }

  .site-identity h1 {
    font-size: 1.5em;
    margin: .7em 0 .3em 0;
    display: inline-block;
  }

  .site-identity img {
    max-width: 55px;
    float: left;
    margin: 0 10px 0 0;
  }

  .site-navigation {
    float: right;
  }

  .site-navigation ul, li {
    margin: 0;
    padding: 0;
  }

  .site-navigation li {
    display: inline-block;
    margin: 1.4em 1em 1em 1em;
  }

/* Bordered form */
form {
    border: 3px solid #f1f1f1;
  }

  /* Full-width inputs */
  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  /* Set a style for all buttons */
  button {
    background-color: #ad872f;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  /* Add a hover effect for buttons */
  button:hover {
    opacity: 0.8;
  }

  /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  /* Center the avatar image inside this container */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  /* Avatar image */
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  /* Add padding to containers */
  .container {
    padding: 16px;
  }

  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
      display: block;
      float: none;
    }
    .cancelbtn {
      width: 100%;
    }
  }

/* colors */
$red:    #C62931; // hsl(357, 66%, 47%)
$blue:   #49AED0; // hsl(195, 59%, 55%)
$link-blue:   hsl(215, 60%, 50%);
$green:  #00A362; // hsl(156, 100%, 32%)
$orange: #EC9532; // hsl(32, 83%, 56%)
$yellow: #F5D847; // hsl(50, 90%, 62%)

// shades
$black:    #111822; // hsl(215,32%,10%)
$carbon:   #222C3A; // hsl(215,26%,18%)
$charcoal: #354050; // hsl(215,20%,26%)
$pebble:   #79879A; // hsl(215,14%,54%)  pebble
$gray:     #A2ABB9; // hsl(215,14%,68%)  pale-sky / gull-gray
$cloud:    #D0D5DC; // hsl(215,14%,84%)  mischka / black-85
$fog:      #F0F2F5; // hsl(215,20%,95%)  smoke
$snow:     #F9FAFB; // hsl(215,26%,98%)  silver
$white:    #FFFFFF; // hsl(215,32%,100%)

/* social colors */
$facebook: #3b5998;
$twitter: #00b6f1;

.list-group {
  border-color: $cloud !important;
  .list-group-item {
    border-color: $cloud !important;
  }
}

// *, input, body, a, h1,h2,h3,h4,h5,h6, p {
//   font-family: "Avenir", arial, sans-serif;
// }

h1,h2,h3,h4,h5,h6 {
  font-weight: 500 !important;
}

a.account-card {
  text-decoration: none;
  color: unset;
  i.fa {
    font-size: 42px;
    width: 45px;
  }
  .card {
    background: $snow;
    border: 1px solid $cloud;
    &:hover {
      background: $white;
    }
    &:active {
      background: $fog;
    }
  }
}

.bg-yellow {
  background: $yellow;
  color: $carbon;
}

.list-group-item-action {
  background: $snow;
  .fa {
    width: 22px;
  }
  .fa.fa-angle-right {
    font-size: 20px;
    position: absolute;
    right: 5px;
    top: 14px;
  }
}

.coupon {
  background: $snow;
  border: 2px dashed $cloud !important;
}

.reward-status-box {
  position: relative;
  width: 100%;
  color: $white;
  background: darken(saturate($blue, 15%), 15%);
  border: 2px solid saturate($blue, 15%);
  border-radius: 5px;
  .reward-status {
    width: 60%;
    background: saturate($blue, 15%);
    padding: 15px;
  }
  .current-status {
    position: absolute;
    right: 15px;
    top: 15px;
    color: $white;
  }
  .current-status-2 {
    position: absolute;
    right: 15px;
    top: 41px;
    color: $white;
  }
}



// Utilities

.text-orange {
  color: $orange !important;
}

.text-carbon {
  color: $carbon !important;
}

.text-pebble {
  color: $pebble !important;
}

.text-gray {
  color: $gray !important;
}

.text-cloud {
  color: $cloud !important;
}

.text-blue {
  color: $blue !important;
}

.text-gray {
  color: $gray !important;
}

.text-pale-sky {
  color: $gray !important;
}

.bg-black {
  background: $black !important;
}

.bg-snow {
  background: $snow !important;
}

.bg-fog {
  background: $fog !important;
}

.bb1-cloud {
  border-bottom: 1px solid $cloud;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-22 {
  font-size: 22px !important;
}

.tanga-header {
  .navbar-brand {
    margin-bottom: 5px;
  }
  .nav-link {
    color: $gray;
    &:hover {
      color: $white;
    }
    &:active {
      color: $gray;
    }
  }
}

.tanga-navbar {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  &:-webkit-scrollbar {
    display: none;
  }
  .nav-link {
    white-space: nowrap;
    color: $pebble;
    &:hover {
      color: $charcoal;
    }
    &:active {
      color: $pebble;
    }
  }
}

.btn-primary {
  background: $red;
  border-color: $red;
  cursor: pointer;
  &:hover {
    background: lighten($red, 10%);
    border-color: lighten($red, 10%);
  }
}

.btn-secondary {
  background: $white !important;
  color: $charcoal !important;
  border-color: $cloud !important;
  cursor: pointer;
  &:hover {
    color: $charcoal !important;
    background: $snow !important;
  }
  &:active {
    color: $pebble !important;
    background: $fog !important;
  }
  &:focus {
    color: $pebble !important;
    background: $fog !important;
    outline: 0 !important;
  }
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  z-index: 50;
  display: block;
  width: 100%;
  background: $black;
  a {
    text-decoration: none !important;
    cursor: pointer;
    color: $gray;
    font-size: 12px;
    float: left;
    width: 20%;
    display: inline-block;
    text-align: center;
    margin: 0 !important;
    padding: 8px 0px 5px 0px;
    &.active {
      background: $carbon;
      color: $white;
    }
    i {
      font-size: 23px;
      display: block;
      margin: 0 auto;
      margin-bottom: 2px;
    }
  }
}

.fs-18 {
  font-size: 18px !important;
}
.fs-22 {
  font-size: 22px !important;
}

.bg-snow {
  background: $snow !important;
}

.card {
  border-color: $cloud !important;
}

.text-pebble {
  color: $pebble !important;
}
.text-charcoal {
  color: $charcoal !important;
}

.bottom-drawer {
  position: fixed;
  bottom: 56px;
  width: 100%;
  border-top: 1px solid $cloud;
}

.bg-white {
  background: $white !important;
}

.list-group {
  border-color: $cloud !important;
}
.list-group-item {
  border-color: $cloud !important;
}

.text-red {
  color: $red !important;
}

.text-green {
  color: $green !important;
}
.text-link-blue {
  color: $link-blue !important;
}

.form-control {
  background: $snow;
  border-color: $cloud !important;
}

.bd-2-cloud {
  border: 2px dashed $cloud;
}
.b-1-green {
  border: 2px solid $green !important;
}

.br-8 {
  border-radius: 5px;
}

.address-radio {
  .address-label {
    padding: 1rem;
    margin-bottom: 0 !important;
  }

  [type="radio"]:checked,
  [type="radio"]:not(:checked) {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      padding-left: 50px;
      width: 100%;
      cursor: pointer;
      line-height: 20px;
      display: inline-block;
      color: $charcoal;

      &:before {
        content: '';
        position: absolute;
        left: 1rem;
        top: 1rem;
        width: 20px;
        height: 20px;
        border: 2px solid $cloud;
        border-radius: 50%;
        background: #fff;
      }

      &:after {
        content: '';
        width: 12px;
        height: 12px;
        background: $green;
        position: absolute;
        top: 20px;
        left: 20px;
        border-radius: 50%;
        transition: all 0.2s ease;
      }
    }
  }

  [type="radio"]:not(:checked) + label:after {
      opacity: 0;
      transform: scale(0);
  }

  [type="radio"]:checked + label:after {
      opacity: 1;
      transform: scale(1);
  }

  [type="radio"]:not(:checked) ~ label p {
    display: none;
  }

  [type="radio"]:checked ~ label p {
    display: unset;
  }
}